@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.hidden-text {
  opacity: 0;
}

.reveal-text {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

  @layer utilities {
    .animate-spin {
      animation: spin 16s linear infinite;
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
  }